﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using Dnn.BakeBeam.Osszehasonlitas.Models;

@{
    //    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/RF.Modules.TestFlightAppointment/Scripts/BookingGrid.js");

    var termekek = ViewBag.Termekek;
}


<p>
    Üdvözlünk a modulban!

</p>
<div>@(termekek)</div>
