@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Dnn.BakeBeam.Dnn.BakeBeam.Osszehasonlitas.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">

        <ul class="tm_tl">
                SZIA
        </ul>
    
</div>
