﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using Dnn.BakeBeam.Osszehasonlitas.Models;

@{
    //    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/RF.Modules.TestFlightAppointment/Scripts/BookingGrid.js");

    var Termekek = ViewBag.Termekek;
    var Termek1N = ViewBag.Termek1N;
    var Termek1P = ViewBag.Termek1P;
    var Termek1Kep = ViewBag.Termek1Kep;


}


<div class="termekOsszehasonlitasRacs">
    @if (ViewBag.ElemSzam > 0)
    {
        foreach (var termek in ViewBag.termekTulajdonsagok)
        {
            <div class="termekOsszehasonlitasOszlop">

                <div><img src="/Portals/0/Hotcakes/Data/products/@(termek.Termek1Bvin)/small/@(termek.Termek1Kep)" /></div>
                <div class="osszehasTermekCim">@(termek.Termek1N)</div>
                <div>@(termek.Termek1P) Ft</div>
                <div>@(termek.Termek1Meret)</div>

                @foreach (var tulajd in termek.egyediTulajdonsagok)
                {
                    <div>@tulajd</div>
                }

                <a class="kosarbaGomb" href="/kosar?AddSku=@(termek.Termek1Sku)&AddSkuQty=1">Kosárba</a>

            </div>
        }

    }
    else
    {
        <div class="osszehasTermekCim">Nincs termék kiválasztva</div>
        <div>Válaszd ki az összehasonlítandó terméket a lenti gombra kattintva!</div>

    }

</div>

<div class="ujTermekOGomb">
    <a class="kosarbaGomb" href="/kategoriak">Új termék kiválasztása</a>
</div>

<script src="/Resources/Shared/Scripts/osszehasonlitas.js"></script> 